@charset "utf-8";

/* margin ,paddingはデフォルトの設定があるときがある
   そのため自分で初期化する必要がある
   一番最初に書くことで全体に反映することができる */

/*  初期化  */
*{
    margin: 0;
    padding: 0;
}
/* html全体設定 */
html{
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
}

/* ----- ヘッダー設定 ----- */
.header{
    height: 70px;
    width: 100%;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    /* fixed　画面を基準とした位置に固定する */
    position: fixed;
    /* 画面上部からの表示設定　値は上部からの距離を示す */
    top: 0;
}

.container{
    max-width: 980px;
    padding: 0 30px;

    margin-left: auto;
    margin-right: auto;
}

.header-right{
    float: right;
}

.header-left{
    float: left;
}

#title{
    margin: 10px 30px;
}

#list-button{
    margin: 20px 0px;
}