@charset "utf-8";

/* フォントの登録と設定 */
/* @font-face : 外部ファイルから TTF・WOFF を読み込む + 登録 */
@font-face {
    /* フォントに名前を付ける */
    font-family: "Marumoji";
    /* フォントファイルのパスとその形式を指定 */
    src: url("font/KTEGAKI.ttf") format("truetype");
    /* 文字の太さを指定 */
    font-weight: normal;
    /* 文字のスタイル（斜体）を指定 */
    font-style: normal;
}


/* margin ,paddingはデフォルトの設定があるときがある
   そのため自分で初期化する必要がある
   一番最初に書くことで全体に反映することができる */

/*  初期化  */
*{
    margin: 0 2px;
    padding: 0;
}
/* html全体設定 */
html{
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
}

/* ----- ヘッダー設定 ----- */
.header{
    height: 70px;
    width: 100%;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    /* fixed　画面を基準とした位置に固定する */
    position: fixed;
    /* 画面上部からの表示設定　値は上部からの距離を示す */
    top: 0;
}

.container{
    max-width: 980px;
    padding: 0 30px;

    margin-left: auto;
    margin-right: auto;
}

.header-right{
    float: right;
}

.header-left{
    float: left;
}

#title{
    margin: 10px 30px;
}

#list-create-button{
    margin: 20px 0px;
    background-color: #faa;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}

#list-create-button:hover{
    background-color: #d88;
}

/* ----- ボディ設定 ----- */
body{
    /*ヘッダーに隠れないようにするため*/
    padding-top: 70px;
    /* フォント変更 */
    font-family: "Marumoji", sans-serif;
}

/* ----- リスト設定 ----- */
#list-area{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    align-items: start;
}

.list{
    width: 100%;
    padding: 6px;
    background-color: #82E6FA;
    border-radius: 7px;
    box-sizing: border-box;
}

.list-header{
    min-height: 1rem;
    display: flex;
    justify-content: space-between;
}

.list-text-write{
    background-color: #fff;
}

.list-button{
    display: flex;
    justify-content: space-between;
}

.task-crt-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.task-crt-button:hover{
    background-color: #AAA;
}

.list-clear-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.list-clear-button:hover{
    background-color: #AAA;
}

.list-delete-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.list-delete-button:hover{
    background-color: #AAA;
}

/* ----- タスク設定 ----- */
.task{
    width: 100%;
    padding: 6px;
    background-color: rgb(243, 130, 222);

    display: flex;
    /* transition : プロパティ名 時間 アニメーションタイプ 遅延 */
    transition: background-color 0.5s ease;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 7px;
}

.task-main{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.task-text-write{
    background-color: #fff;
}

.task-delete-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.task-delete-button:hover{
    background-color: #AAA;
}

.task.done{
    background-color: #afa;
}

/* ----- リスト・タスクの入力設定 ----- */
.task-text-label,
.list-text-label{
    font-family: "Marumoji", sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    display: inline-block;
    cursor: text;
}