@charset "utf-8";

/* フォントの登録と設定 */
/* @font-face : 外部ファイルから TTF・WOFF を読み込む + 登録 */
@font-face {
    /* フォントに名前を付ける */
    font-family: "Marumoji";
    /* フォントファイルのパスとその形式を指定 */
    src: url("font/KTEGAKI.ttf") format("truetype");
    /* 文字の太さを指定 */
    font-weight: normal;
    /* 文字のスタイル（斜体）を指定 */
    font-style: normal;
}


/* margin ,paddingはデフォルトの設定があるときがある
   そのため自分で初期化する必要がある
   一番最初に書くことで全体に反映することができる */

/*  初期化  */
*{
    margin: 0 2px;
    padding: 0;
}
/* html全体設定 */
html{
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
}

/* ----- ヘッダー設定 ----- */
.header{
    height: 70px;
    width: 100%;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    /* fixed　画面を基準とした位置に固定する */
    position: fixed;
    /* 画面上部からの表示設定　値は上部からの距離を示す */
    top: 0;
    /* 一番手前に来るように描画を設定 */
    z-index: 1000;
}

.container{
    max-width: 980px;
    padding: 0 30px;

    margin-left: auto;
    margin-right: auto;
}

.header-right{
    float: right;
}

.header-left{
    float: left;
}

#title{
    margin: 10px 30px;
}

#list-create-button{
    margin: 20px 0px;
    background-color: #faa;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}

#list-create-button:hover{
    background-color: #d88;
}

#all-delete-button{
    margin: 20px 0px;
    background-color: #a00;
    color: #aaa;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}

#all-delete-button:hover
{
    background-color: #400;
}

/* ----- ボディ設定 ----- */
body{
    /*ヘッダーに隠れないようにするため*/
    padding-top: 70px;
    /* フォント変更 */
    font-family: "Marumoji", sans-serif;
}

/* ----- リスト設定 ----- */
#list-area{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    align-items: start;
}

.list{
    width: 100%;
    padding: 6px;
    background-color: #82E6FA;
    border-radius: 7px;
    box-sizing: border-box;
}

.list-header{
    min-height: 1rem;
    display: flex;
    justify-content: space-between;
}

.list-text-write{
    background-color: #fff;
}

.list-button{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.task-crt-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.task-crt-button:hover{
    background-color: #AAA;
}

.list-clear-button{
    background-color: #FFF;
    color: #F00;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.list-clear-button:hover{
    background-color: #A44;
}

.list-delete-button{
    background-color: #FFF;
    color: #F00;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.list-delete-button:hover{
    background-color: #AAA;
}

/* ----- タスク設定 ----- */
.task{
    width: 100%;
    padding: 6px;
    background-color: rgb(243, 130, 222);

    display: flex;
    /* transition : プロパティ名 時間 アニメーションタイプ 遅延 */
    transition: background-color 0.5s ease;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 7px;
}

.task-main{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.task-text-write{
    background-color: #fff;
}

.task-delete-button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;

    font-family: "Marumoji", sans-serif;
}
.task-delete-button:hover{
    background-color: #AAA;
}

.task.done{
    background-color: #afa;
}

.task-check-button{
    width: 14px;
    height: 14px;
    accent-color: #00F;
    cursor: pointer;
}

/* ----- リスト・タスクの入力設定 ----- */
.task-text-label,
.list-text-label{
    font-family: "Marumoji", sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    display: inline-block;
    cursor: text;
}

/* ----- チェックボックスの設定 ----- */
.round-check input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.round-check .circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFF;
    border: 2px solid #00F;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    transition:
        background-color 0.25s ease,
        border-color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.round-check input[type="checkbox"]:checked + .circle{
    background-color: #00A;
    border-color: #00A;
}

.round-check .circle::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;

    border-right: 3px solid #AAA;
    border-bottom: 3px solid #AAA;

    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%) rotate(45deg);

    opacity: 1;
    transition: opacity 0.2s ease;
}

.round-check input[type="checkbox"]:checked + .circle::after{

    content: "";
    position: absolute;
    width: 5px;
    height: 10px;

    border-right: 3px solid #FFF;
    border-bottom: 3px solid #FFF;

    left: 50%;
    top: 10%;
    transform: translate(-50%, -20%) rotate(45deg);

    opacity: 1;
    transition: opacity 0.2s ease;
}

/* エフェクト */
.click-effect{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #00ff7f;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
    pointer-events: none;
    animation: clickRipple 0.5s ease-out;
}

@keyframes clickRipple{
    to{
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

/* モーダル */
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box{
    background-color: #fff;
    color: #F00;
    font-size: 24px;
    background: fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 260px;
    max-width: 400px;
    text-align: center;;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
}

.modal-buttons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hidden{
    display: none;
}

/* メディアクエリ、レスポンシブ対応 */
@media (max-width: 900px) {

    #list-area{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;
    }

    .container{
        padding: 0 16px;
    }

    h1{
        font-size: 2.0rem;
    }

    #list-create-button{
        font-size: 20px;
        padding: 6px 10px;
    }
}

@media (max-width: 600px) {

    html{
        font-size: 14px;  /* 文字全体を少し小さく */
    }

    .header{
        height: 60px;
    }

    body{
        padding-top: 60px; /* ヘッダー高さと合わせる */
    }

    #list-area{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .container{
        padding: 0 10px;
    }

    #title{
        margin: 8px 10px;
        font-size: 1.8rem;
    }

    #list-create-button{
        font-size: 18px;
        padding: 5px 8px;
    }

    .task{
        padding: 4px;
    }

    .task-text-label,
    .list-text-label{
        font-size: 14px;
    }
}